.img-container {
  opacity: 1;
}

.img-container:hover {
  opacity: 0.8;
}

.img-name {
  visibility: hidden;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}

.img-container:hover .img-name {
  visibility: visible;
}

.data-container {
  grid-template-columns: repeat(auto-fit, 4rem);
  grid-gap: 10px;
}

/* NAVBAR */
.navbar li:nth-child(2) {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* NAVBAR */

.album-container {
  min-height: calc(100vh - 4rem);
}

.media-container {
  min-height: calc(100vh - 6rem);
}

img {
  opacity: 0.8;
}

img:hover {
  opacity: 1;
}

@media (min-width: 480px) {
  .data-container {
    grid-template-columns: repeat(auto-fit, 10rem);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .data-container {
    grid-template-columns: repeat(auto-fit, 8rem);
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .data-container {
    grid-template-columns: repeat(auto-fit, 12rem);
  }
}

@media (min-width: 1280px) and (max-width: 1330px) {
  .data-container {
    grid-template-columns: repeat(auto-fit, 15rem);
  }
}
